@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: all 60000 ease-in-out !important;
  scroll-behavior: smooth !important;
}
html {
  --light-clr: 0, 0%, 98%;
  --light-muted-clr: 192, 100%, 98%;
  --dark-clr: 222, 100%, 2%;
  --muted-clr: 219, 6%, 71%;
  --primary-clr: 205, 100%, 37%;
  --accent-clr: 204, 100%, 37%;
  --accent-clr: 196, 100%, 47%;
  --secondary-clr: 330, 49%, 40%;
  --secondary-accent-clr: 331, 100%, 94%;
  --other-clr: 24, 89%, 54%;
  --foreground-rgb: 223, 92%, 5%;
  --background-start-rgb: 190, 8%, 85%;
  --background-end-rgb: 0, 0%, 100%;
}

html.dark {
  --primary-clr: 204, 84%, 55%;
  --accent-clr: 196, 76%, 62%;
  --muted-clr: 220, 17%, 16%;

  --foreground-rgb: 0, 0%, 98%;
  --background-start-rgb: 223, 100%, 3%;
  --background-end-rgb: 223, 64%, 4%;
}

@media screen(lg) {
  html {
    font-size: 1.2rem;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .label-input {
    @apply flex flex-auto flex-col sm:flex-row py-2 px-4 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75;
  }
}

/* to animate height for some elements */
.grid {
  transition: grid-template-rows 0.5s ease-in-out;
}

body {
  color: hsl(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    hsl(var(--background-start-rgb)),
    hsl(var(--background-end-rgb))
  );
  background-attachment: fixed;
  background-position: center;
  font-family: "Raleway", sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* to stretch content */
  flex: 1;
}

#wave {
  margin-top: 3rem;
  fill: hsl(var(--accent-clr), 0.3);
}
footer {
  background: hsl(var(--accent-clr), 0.3);
}

footer a,
footer .accent {
  color: hsl(var(--foreground-rgb), 0.7);
}

/* -------------------- FOOTER SVG -------------------- */
.path-0 {
  animation: pathAnim 4s linear infinite;
  /* animation-timing-function: linear;
  animation-iteration-count: infinite; */
}
@keyframes pathAnim {
  0% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 125.39285714285717,176.21428571428572 250.78571428571433,152.42857142857142 384,156 C 517.2142857142857,159.57142857142858 658.2499999999999,190.50000000000003 777,213 C 895.7500000000001,235.49999999999997 992.2142857142858,249.57142857142856 1099,246 C 1205.7857142857142,242.42857142857144 1322.892857142857,221.21428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 133.57142857142858,188.21428571428572 267.14285714285717,176.42857142857142 373,168 C 478.85714285714283,159.57142857142858 557,154.50000000000003 676,146 C 795,137.49999999999997 954.8571428571429,125.57142857142856 1089,134 C 1223.142857142857,142.42857142857144 1331.5714285714284,171.21428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 80.78571428571428,205.92857142857144 161.57142857142856,211.85714285714286 296,205 C 430.42857142857144,198.14285714285714 618.5,178.5 766,166 C 913.5,153.5 1020.4285714285713,148.14285714285714 1126,155 C 1231.5714285714287,161.85714285714286 1335.7857142857142,180.92857142857144 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 108.03571428571428,189.28571428571428 216.07142857142856,178.57142857142858 333,191 C 449.92857142857144,203.42857142857142 575.7499999999999,239 705,249 C 834.2500000000001,259 966.9285714285716,243.42857142857142 1090,231 C 1213.0714285714284,218.57142857142858 1326.5357142857142,209.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 125.39285714285717,176.21428571428572 250.78571428571433,152.42857142857142 384,156 C 517.2142857142857,159.57142857142858 658.2499999999999,190.50000000000003 777,213 C 895.7500000000001,235.49999999999997 992.2142857142858,249.57142857142856 1099,246 C 1205.7857142857142,242.42857142857144 1322.892857142857,221.21428571428572 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
}
