@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --light-clr: 0, 0%, 98%;
  --light-muted-clr: 192, 100%, 98%;
  --dark-clr: 222, 100%, 2%;
  --dark-muted-clr: 220, 17%, 21%;
  --primary-clr: 205, 100%, 37%;
  --accent-clr: 204, 100%, 37%;
  --accent-clr: 196, 100%, 47%;
  --secondary-clr: 330, 49%, 40%;
  --secondary-accent-clr: 331, 100%, 94%;
  --other-clr: 24, 89%, 54%;
  --foreground-rgb: 223, 92%, 5%;
  --background-start-rgb: 190, 8%, 85%;
  --background-end-rgb: 0, 0%, 100%;
}

html.dark {
  --primary-clr: 196, 76%, 62%;
  --accent-clr: 204, 84%, 55%;

  --foreground-rgb: 0, 0%, 98%;
  --background-start-rgb: 223, 93%, 5%;
  --background-end-rgb: 222, 100%, 2%;
}

@media screen(lg) {
  html {
    font-size: 1.2rem;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .label-input {
    @apply flex flex-auto flex-col sm:flex-row py-2 px-4 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75;
  }
}

body {
  color: hsl(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    hsl(var(--background-start-rgb)),
    hsl(var(--background-end-rgb))
  );
  font-family: "Raleway", sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* to stretch content */
  flex: 1;
}

footer {
  background: hsl(var(--accent-clr) / 0.2);
  /* color: hsl(var(--light-clr)); */
}

footer a,
footer .accent {
  color: hsl(var(--foreground-rgb) / 0.7);
}

footer a {
  /* text-decoration: underline dashed white !important; */
}
