.ticket_form input,
.ticket_form select,
.ticket_form textarea {
  color: black !important;
  border-radius: 5px;
  padding: 5px 10px;
  /* margin: 0 10px; */
}
.ticket_form label {
  text-transform: capitalize;
}
.ticket_form input,
.ticket_form textarea,
.ticket_form select {
  /* dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white */
  color: hsl(var(--foreground-rgb)) !important;
  background-color: hsl(var(--muted-clr));
}

.ticket_form input,
.ticket_form label,
.ticket_form select,
.ticket_form textarea {
  display: block;
  width: 100%;
}

/* .label_input_info {
  display: block !important;
} */

@media screen(md) {
  .ticket_form input,
  .ticket_form label,
  .ticket_form select,
  .ticket_form textarea {
    /* display: inline-block;
    width: 50%; */
  }
}
